*{
    margin: 0 0 0 0;
}
body{
    /* background: #1db954; */
    background: #191414;
    display: grid;
    place-items: center;
    height: 100vh; /* Ensure full viewport height */
}
h1{
    text-align: center;
}